/* note.css */

.field {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
}

.shyam label {
  display: inline-block;
  margin-right: 10px;
}

.shyam input[type="radio"] {
  display: none; /* Hide the actual radio buttons */
}

.shyam label {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shyam label:hover {
  background-color: #2980b9;
}

.shyam input[type="radio"]:checked + label {
  background-color: #2c3e50;
}



.hello,
.prabha {
  display: flex;
  flex-wrap: wrap;
}

.rows,
.rows1 {
  margin-bottom: 10px;
  flex: 1;
}

.dates,
.dates1,
.dates2,
.dates3,
.dates4,
.dates5,
.Head,
.Head1,
.Head2,
.Head3,
.Head4,
.Head5 {
  margin-bottom: 5px;
  display: block;
}

.numbers1{
  width: 15%;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 10%;
}
.numberss{
  width: 15%;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 6%;
}
.manual{
  width: 15%;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 5%;
}
.manual1{
  width: 15%;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 7%;
}
.textareas{
  width: 15%;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 6%;
}
.numberss {
  width: 15%;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 7%;
}

.columm {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.P {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 40%;
}
.Prints,
.Prints1{
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 35%;
  
}

.P:hover {
  background-color: #45a049;
}

.hr {
  margin: 20px 0;
}

.heee {
  margin-top: 20px;
}

.CrNo{
  display: flex;
  margin-left: 40%;
}
.CrDate{
  display: flex;
  margin-left: 40%;
}
.customers{
  display: flex;
  margin-left: 40%;
}
.Amount{
  display: flex;
  margin-left: 40%;
}
.ManualNo{
  display: flex;
  margin-left: 40%;
}
.Narration{
  display: flex;
  margin-left:40%;
}
