.gst-page{
    height: 80vh;
    width: 60vw;
    border: 1px solid grey;
    margin: 2px 10% ;
    /* background-color: rgb(252, 247, 247); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.gst-first-line{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    align-items: center;
    
}
.enable-gst-btn{
    height: 8vh;
    width: 10vw;
    margin: 0 17%;
}
.gst-first-inp{
    height: 4vh;
    width: 15vw;
}
.gst-date-inp{
    height: 4vh;
    width: 15.3vw;
    margin-left: 20.2%;  
    margin-top: 2%;
}
.gst-third-btns {
display: flex;
flex-direction: row;
justify-content: space-around;
margin:5% 0% ;
}
.gst-btn-13{
    height: 8vh;
    width: 10vw;   
}
.gst-last-sec{
    height: 25vh;
    width: 50vw;
    border: 1px solid grey;
    margin: 3% 8%;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.gst-last-sec-heading{
    margin-top: -.1%;
    margin-left: 2%;
}
.gst-sel{
    height: 4vh;
    width: 10vw;
}
.gst-lst-sec-sel{
    display: flex;
    margin: 1% 2%;
}
.gst-lst-sec-sel-2{
    display: flex;
    margin: 3% 2%; 
}
.gst-change-in{
    height: 17vh;
    width: 15vw;
    /* border: 1px solid grey; */
    margin-left: 7%;
    margin-top: 1%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}
.change-in-heading{
margin-top: -.1%;
margin-left: 2%;
}
.gst-radio-btns{
    display: flex;
    flex-direction: column;
}
.rad-btn-1{
    display: flex;
    align-items: center;
    justify-items: center;
    /* justify-content: space-around; */
}  
.rad-btn-2{
    display: flex;
    align-items: center;
    justify-items: center;
    /* margin-left: 20px; */
    /* justify-content: space-around; */
}  
.Change-btn{
    height: 6vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    background-color:#9B8BF4;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer   
}
#enable-btn{
    background-color: 
    #9B8BF4;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#create-gst-btn{
    background-color: rgb(238, 207, 207);
    color: #000;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer  
}
#dos-btn{
    background-color: rgb(238, 207, 207);
    color: #000;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer    
}
#editbatch-btn{
    background-color: rgb(238, 207, 207);
    color: #000;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer   
}
#newdos-btn{
    background-color:rgb(185, 223, 238);
    color: #000;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer   
}
.field-gst{
    height: 19vh;
}
@media only screen and (max-width: 768px) {
    .gst-last-sec{
        height: 25vh;
        width: 70vw;
        border: 1px solid grey;
        margin: 3% 1%;
        display: flex;
        justify-content: space-around;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .gst-page {
        width: 81vw; /* Adjust the width for smaller screens */
        margin: 2px 10%; /* Adjust the margin for smaller screens */
        height: auto;
    }
    .itemonlys{
        margin-left: -20px;
    }
    .enable-gst-btn {
        width: 30%; /* Adjust the width of the button for smaller screens */
        margin: 0 15%;
        height: 5vh; /* Adjust the margin for smaller screens */
    }

    .gst-first-inp {
        width: 30%; /* Adjust the width of the input for smaller screens */
    }

  

    .gst-third-btns {
        flex-direction: column; 
        margin: 5% 5%;
        font-size: 0.9rem;
    }
    .gst-date-inp{
        height: 4vh;
        width: 20.3vw;
        margin-left: 5%;  
        margin-top: 2%;
        font-size: 16px;
    }
    .gst-first-line{
        display: flex;
        margin-top: 5%;
        margin-left: 5%;
        align-items: center;
        font-size: 16px;
        
    }

    .gst-btn-13,
    #create-gst-btn,
    #dos-btn,
    #editbatch-btn,
    #newdos-btn {
        width: 90%; 
        margin-bottom: 5px; 
        font-size: 1.7rem;
    }
    .rad-btn-2{
        display: flex;
        align-items: center;
        justify-items: center;
        margin-left: 22px;
        
        /* justify-content: space-around; */
    } 
    .radioes{
        margin-right: 10px;
    }

    .gst-last-sec {
        width: 81vw; 
        height: 30vh;
        margin: 3% 1%;
        font-size: 16px;
    }
    .legendss{
        font-size: 20px;
    }

    .gst-sel,
    .gst-lst-sec-sel,
    .gst-lst-sec-sel-2 {
        width: 100%;
        margin: 0 5%; /* Adjust the width of the selects for smaller screens */
    }

    .gst-change-in {
        width: 90%; /* Adjust the width of the fieldset for smaller screens */
        margin-left: 5%; /* Adjust the margin for smaller screens */
    }

    .Change-btn {
        width: 50%;
        height: 8vh; /* Adjust the width of the button for smaller screens */
        margin-left: 25%;
        margin-bottom: 5%;
        font-size: 16px; /* Adjust the margin for smaller screens */
    }


}
@media only screen and (max-width: 1024px) {
    .gst-page{
        height: 90vh;
        width: 60vw;
        border: 1px solid grey;
        margin: 2px 10% ;
        /* background-color: rgb(252, 247, 247); */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .gst-last-sec{
        height: 32vh;
        width: 50vw;
        border: 1px solid grey;
        margin: 3% 8%;
        display: flex;
        justify-content: space-around;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .gst-change-in {
        width: 100%;
        height: 20vh; /* Adjust the width of the fieldset for smaller screens */
        margin-left: 5%; /* Adjust the margin for smaller screens */
    }
    .itemonlys{
        margin-left: -25px;
    }

.rad-btn-2{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 22px;
    
    /* justify-content: space-around; */
} 
}

@media only screen and (max-width: 429px) {
    .gst-page {
        width: 93vw; /* Adjust the width for smaller screens */
        margin: 2px 5%; /* Adjust the margin for smaller screens */
        height: auto;
    }
    .itemonlys{
        margin-left: -20px;
    }
    .enable-gst-btn {
        width: 30%; /* Adjust the width of the button for smaller screens */
        margin: 0 5%;
        height: 5vh; /* Adjust the margin for smaller screens */
    }

    .gst-first-inp {
        width: 30%; /* Adjust the width of the input for smaller screens */
    }

  

    .gst-third-btns {
        flex-direction: column; 
        margin: 5% 5%;
        font-size: .6rem;
    }
    .gst-date-inp{
        height: 4vh;
        width: 20.3vw;
        margin-left: 5%;  
        margin-top: 2%;
        font-size: 10px;
    }
    .gst-first-line{
        display: flex;
        margin-top: 5%;
        margin-left: 5%;
        align-items: center;
        font-size: 10px;
        
    }

    .gst-btn-13,
    #create-gst-btn,
    #dos-btn,
    #editbatch-btn,
    #newdos-btn {
        width: 90%; 
        margin-bottom: 5px; 
        font-size: .7rem;
    }
    .rad-btn-2{
        display: flex;
        align-items: center;
        justify-items: center;
        margin-left: 15px;
        
        /* justify-content: space-around; */
    } 
    .radioes{
        margin-right: 20px;
    }

    .gst-last-sec {
        width: 90vw; 
        height: 30vh;
        margin: 3% 1%;
        font-size: 10px;
    }
    .legendss{
        font-size: 13px;
    }

    .gst-sel,
    .gst-lst-sec-sel,
    .gst-lst-sec-sel-2 {
        width: 80%; /* Adjust the width of the selects for smaller screens */
    }

    .gst-change-in {
        width: 80%; /* Adjust the width of the fieldset for smaller screens */
        margin-left: 5%; /* Adjust the margin for smaller screens */
    }

    .Change-btn {
        width: 50%;
        height: 5vh; /* Adjust the width of the button for smaller screens */
        margin-left: 25%;
        margin-bottom: 5%; /* Adjust the margin for smaller screens */
    }
}