.Gst-list-btns{
    display: flex;
    column-gap: 3px;
    margin-top:2%;
    margin-left: 10%;
}
.Gst-list-btns button{
height: 7vh;
width: 14.9vw;
background-color: #9B8BF4;
color: #fff;
border: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
font-size: 1rem;
font-weight: bold;
cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .Gst-list-btns button{
        height: 7vh;
        width: 20vw;
        background-color: #9B8BF4;
        color: #fff;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        }
}



@media only screen and (max-width: 425px) {
    .Gst-list-btns{
        width: 100%;
    } 
    .Gst-list-btns button{
        height: 7vh;
        width: 20vw;
        background-color: #9B8BF4;
        color: #fff;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-size: .7rem;
        font-weight: bold;
        cursor: pointer;
        margin-left: 0;
        }
}