.item-description-total{
    margin-left: 10vw;
    margin-top: 3vw;
    width: 80vw;
    height: auto;
    border: 1px solid gray;
   }
   .item-form-container{
       padding: 15px;
   }
   .item-submit-button{
    margin-left: 3%;
   }
   .item-content{
       display: flex;
   }
   .item-form-left{
       width: 100%;
   }
   .label-product{
    display: flex;
   }
   .item-shedu-sele1{
    width: 20%;
    height: 5vh;
    margin-left: 1%;
   }
   .item-pro-in{
       height: 5vh;
       border-radius: 4px;
       border: 1px solid gray;
       margin-left: 1%;
       width: 35%;
       margin-top: -0.5%;
   }
   .item-company-name{
       display: flex;
       flex-wrap: wrap;
       margin-top: 1.5%;
       align-items: center;
   }
   .item-company-1{
       width: 15vw;   
   }
   .item-label-sec{
       margin-left: 9.3%;
   }
   .input-selec-c{
       width: 14.5vw;
       height: 5vh;
   }
   .tax-code-selec{
       margin-left: 0.5%;
       width: 15vw;
   }
   .item-group-selc-group{
     margin-left: 2.2%;
     height: 8vh;
     width: 21%;
   }
   .item-schedu-label1{
    margin-left: 9.5%;
   }
   .merge-product-sale{
    display: flex;
   }
   .item-cat-label{
       margin-left: 9.3%;
   }
   .item-cat-sele{
       width: 15vw;
       margin-left: 9.4%;
   }
   .item-group-selc{
       margin-left: 3.1%;
       width: 15vw;
   }
   .item-schedu-label{
       margin-left: 9.3%; 
   }
   .lot-merge{
    display: flex;
   }
   .item-shedu-sele{
       width: 15vw;
       margin-left: 9.3%;
   }
   .filed-sets{
       width: 26.5vw;
       /* margin-left: -20%; */
   }
   
   
   .item-legends{
       color: rgb(0, 153, 255);
   }
   
   .item-or-mrp, .item-lot-mrp, .item-pack-mrp{
       height: 5vh;
       width: 10vw;
       border: 1px solid gray;
       border-radius: 3px;
   }
   .item-or-trel-label, .item-lot-trel-label{
       margin-left: 4%;
   }
   .item-pack-trel-label{
       margin-left: 10%;
   }
   .item-sales-mrp{
       height: 5vh;
       width: 12vw;
       border: 1px solid gray;
       border-radius: 3px;
   }
   .item-hsn-div{
       display: flex;
       flex-wrap: wrap;
       margin-top:1.5%;
       align-items: center;
   }
   .item-hsn-selec{
       width: 15vw;
       margin-left: 7.8%;
   }
   .item-drug-selec{
       width: 15vw;
       margin-left: 2.4%;
   }
   .item-narr-label{
       margin-left: 10%;
       /* margin-top: 2%; */
   }
   .item-narr-input{
       height: 5vh;
       border-radius: 3px;
       border: 1px solid gray;
       width: 180px;
   }
   .item-narr-label-narr{
       margin-top: 2%;
   }
   .item-narr-input-narr{
       margin-top: 2%;
       height: 5vh;
       width: 40vw;
       margin-left: 7.5%;
       border-radius: 3px;
       border: 1px solid gray;
   }
   .item-hsn-button{
       margin-left: 28%;
       padding: 9px 40px;
       background-color:rgb(0, 153, 255) ;
       border: none;
       color: white;
       border-radius: 4px;
   }
   .item-hsn-button:hover{
       background-color: rgb(0, 98, 163);
   }
   .item-submit-button{
       padding: 8px 20px;
       margin-top: 1.5%;
       background-color:rgb(0, 153, 255) ;
       border: none;
       color: white;
       border-radius: 4px;
   }
   .item-submit-button:hover{
       background-color: rgb(0, 98, 163);
   }
   .item-form-right{
       margin-top: 2%;
       margin-left: 8%;
       display: flex;
       flex-direction: column;
       row-gap: 3%;
   }
   .item-form-right button{
       padding: 7px 23px;
       background-color:rgb(0, 153, 255) ;
       border: none;
       color: white;
       border-radius: 4px;
   }
   .item-form-right button:hover{
       background-color: rgb(0, 98, 163);
   }
   
   @media(max-width:425px){
       .item-description-total{
           margin-left: 2vw;
           /* margin-top: 3vw; */
           width: 95vw;
          } 
          .item-form-left{
           width: 70vw;
         }
         .item-form-container{
           padding: 8px;
       }
         .item-company-name{
           margin-top: 3%;
         }
         .item-company-1{
           width: 44vw;   
         }
         .item-label-sec{
           margin-top: 2%;
         }
         .input-selec-c{
           margin-top: 2%;
           width: 26.5vw;
       }
         .item-label-sec{
           margin-left: 0.1%;
         }
         .tax-code-selec{
           margin-top: 2%;
           margin-left: 0.9%;
           width: 44vw;
       }
       .item-cat-label{
           margin-left: 0.1%;
           margin-top: 2%;
       }
       .item-group-selc{
           width: 44vw;
           margin-left: 7%;
       }
       .item-cat-sele{
           margin-left: 0.5%;
           width: 44vw; 
           margin-top: 2%;
       }
       .item-schedu-label{
           margin-left: 0.1%; 
           margin-top: 2%;
       }
       .item-shedu-sele{
           margin-left: 0.5%;
           width: 43.8vw; 
           margin-top: 2%;
       }
       .filed-sets {
           width: 53vw;
       }
   
       .item-sales-mrp{
           width: 25vw;
           margin-left: 4%;
       }
       .item-lot-mrp {
           width: 10vw;
       }
       .item-or-mrp{
           width: 23vw;
           margin-left: 2%;
       }
       .item-mrp-label{
           margin-right: 20%;
           margin-left: 4%;
       }
       .item-pack-mrp{
           width: 12vw;
           margin-left: 2%;
       }
       .item-hsn-selec{
           width: 41vw;
           margin-left: 1%;
       }
       .item-narr-label {
           margin-left:0.1%;
       }
       .item-drug-selec{
           width: 27.5vw;
       }
       .item-narr-input{
           margin-top: 3%;
           width: 40vw;
       }
       .item-narr-input-narr{
           margin-left: 0.1%;
           width:39vw;
       }
       .item-hsn-button{
           margin-left: 1%;
           margin-top: 3%;
           padding: 9px 110px;
       }
   
   
       .item-form-right{
           margin-top: 5%;
           margin-left: 1%;
       }
          .item-form-right button{
           padding: 7px 10px;
   }
   }
   

   .item-form-container input{
    width: 30%;
   }



