.patientbill-page{
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 10px;
  border: 2px solid grey;
}
.hide-table{
  display: none;
}
.invoice-invoicenumber-merge{
  display: flex;
  /* margin-left: 30%; */
}
.oty-table{
  width: 70px;
  text-align: center;
  color: white;
}
.doctor-invoice-merge{
  display: flex;
  justify-content: space-between;
}
.input-invoice-data{
  margin-top: -0.5px;
  height: 30px;
}
.invoice-number-text{
  font-size: 1rem;
}
.merge-tabe{
  width: 10%;
}
.table-value{
  width: 200px;
  text-align: center;
  color: white;
}
.gst-input{
  margin-left: 20px;
}
.with-gst{
  color: white;
}
.table-cell-177-table-header-177{
  color: white;
}
.select-p1{
  width: 150px;
  /* align-items: center; */
  margin-left: 20px;
}
.product-action-table{
  width: 40px;
  text-align: center;
  color: white;
}
.goods-class{
  font-size: 13px;
  margin-left:40rem;
  width: 350px;
  text-align:start;
  /* align-items: flex-end; */
}
.merge-sign-para{
  display: flex;
}

.product-product-table{
  width: 80px;
  text-align: center;
  color: white;
}
.product-price-table{
  width: 100px;
  text-align: center;
  color: white;
}
.product-value-table{
  width: 20%;
}
.pharma-bill-quantity{
  width: 75%;
  /* align-items: center; */
  margin-left: 20px;
}
.main-heading{
  width:72%;
  text-align: center;
 
}
.del-btn{
  margin-left: 15px;
  background-color: rgb(234, 96, 96);
}
.pharma-head-patientname-input{
  margin-left: 4%;
}
.value-input{
  margin: 5px 0;
  /* padding: 2px; */
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  border-radius: 3px;
  width: 57px;
  display: inline;
  justify-content: space-between;
}
.pharma-doctor-input{
  width: 60%;
  margin-left: 1%;
  
}
.print-btn{
  width: 35%;
  height: 40px;
  margin-left: 50px;
  background-color: #20c997;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
color: white;
}
.print-btn:hover{
  background-color: #674df7;
}
.flex-change34{
  display:flex;
  /* justify-content: space-between; */
  /* border: 2px solid black; */
}
.image45 {
width: 12%;
height: 0%;
margin-left: 3%;
}

.gst-ph-header{
  display: flex;
}

.patient-bill-header{
  display: flex;
  margin-bottom: 2%;
}
.patient-invoice{
  margin-left: 45%;
}
.invoice-date{
  margin-left: 50%;
}
.pharma-bill-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
}
.pharma-bill-tablehead th, .pharma-bill-table-body td {
  border: 1px solid #ddd;
  height: 5vh;
  /* width: 8vw; */
  /* text-align: left; */
}
.pharma-bill-tablehead{
  background-color: #20c997;
  border-collapse: collapse;
  /* width: 10vw; */
}

.pharma-bill-table-foot td {
  border: 1px solid #ddd;
  height: 5vh;
  width: 10vw;
  text-align: right;
}
.width100{
  width: 100%;
}

.pharma-bill-table-foot .subtotal {
  font-weight: bold;
}
.pharma-bill-input {
  width: 100%;
  /* height: 5vh; */
  /* width: 10vw; */
  box-sizing: border-box;
}
.pharma-bill-input-date {
  width: 100%;
  height: 5vh;
  width: 10vw;
  box-sizing: border-box;
}
.pharma-bill-table-body tr:nth-child(even) {
  background-color: #f2f2f2;
}
.pharma-bill-table-body tr:hover {
  background-color: #e6e6e6;
}

.Add-btn{
  height: 6vh;
  width: 10vw;
  outline: none;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: #20c997;
  color: #fff;
  margin-left: 45%;
  margin-bottom: 1%;
}
.Add-btn:hover{
  background-color: #674df7;
}
.class567{
  text-align: center !important;
}
.search-btn{
  padding: 3px;
  outline: none;
  border-radius: 3px;
  border: none;
  
  background-color: #20c997;
  color: #fff;
}
.pharma-title{
  text-align: center;
font-size: 3rem;
font-weight: bold;
}
.submit-btn{
  background-color:#20c997 ;
}
.title-row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}
.plus-icon{
  font-size: 3rem;
  color: rgb(19, 97, 128);
}
.tax-title{
  text-align: center;
  font-size: 1.3rem;
}
.dhanvantri-heading{
  font-size: 2.5rem;
  margin-left: -35%;
}
.dhanvantri-heading-address{
  font-size: 1.4rem;
  width: 36%;
  margin-left: 15%;
}
.icon-plus-main{
font-size: 60px;
margin-top: 4%;
margin-left: 9%;
}
.icon-plus-main-second{
font-size: 60px;
margin-top: 4%;
margin-left: -25%;

}
.dhanvantri-heading-hampinagar{
  width: 37%;
  margin-left: 14%;
}
.tax-title-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gst-text{
  margin-left: 10px;
}
.paharma-head-para{
  text-align: justify;
}
.total-tag{
  font-size: 0.6rem;
}
.pharma-bill-details{
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.pharma-bill-details-2{
  display: flex;
  justify-content: space-between;

}
.pharma-bill-input-date-2{
  height: 4.1vh;
  width: 13.4vw;
  box-sizing: border-box;
}
.pharma-labels{
  font-weight: bold;
}
.pharma-head-inputs{
  width: 100%;
  padding: 4px;
}
.pharma-sign{
  font-weight: bold;
  margin: 1% 2%;
  display: flex;
  width: 220px;
}
.sign-area{
  /* height: 6vh; */
  width: 10vw;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.gst-ph-head,.gst-ph-head-dl{
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.gst-ph-head{
  margin-left: 65vw;
}
.phone-text{
  margin-left: 0.9vw;
}
.gst-ph-head-2{
  float: left;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.pharma-subtotal{
  float: right;
  font-weight: bold;
}
.pharma-bill-submit-btn-del-btn{
  border: none;
  color: white;
  background-color:#20c997;
  height: 5vh;
  width: 5vw;
  border-radius: 1vh;
  margin-left: 3vw;
}
.invoiceNumber{
  margin-left: 54.9vw;
}
.del-btn{
  border: none;
  color: white;
  background-color:#f05555;
  height: 5vh;
  width: 10vh;
  border-radius: 1vh;
}
.del-btn:hover{
  background-color: #b40303;
}

/* 425 * 553 */

@media (max-width: 429px) {

  .pharma-bill-submit-btn-del-btn{
    border: none;
    color: white;
    background-color:#20c997 ;
    height: 5vh;
    width: 15vw;
    border-radius: 1vh;
    margin-left: 3vw;
  }
  .title-row{
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.5rem;
    }
  .pharma-title{
      text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
    }
    .plus-icon{
      font-size: 1.2rem;
      color: rgb(19, 97, 128);
    }
    .tax-title{
      font-size: 0.8rem;
      text-align: center;
    }
    .paharma-head-para{
      text-align: justify;
      font-size: 0.7rem;
    }
    .gst-text{
      margin-left: 10px;
      font-size: 0.6rem;
    }
    .pharma-bill-table23{
     
      width: 100%;
      font-size: 0.6rem;
      overflow-x: scroll;
      height: auto;
      display: block;
      border: none;
      /* color: white; */
    
    }
    .pharma-bill-table-body td {
      font-size: 0.6rem;
    }
  
     
    .pharma-bill-table {
      overflow-x: auto;
      max-width: 100%; 
  }

  .pharma-bill-table-body tr {
      white-space: nowrap;
  }

  .pharma-bill-tablehead th,
  .pharma-bill-table-body td {
      min-width: 50px; 
  }
  .pharma-bill-details{
      display: flex;
      justify-content: space-between;
      margin-bottom: 1%;
      font-size: 0.6rem;
    }
    .pharma-bill-details-2{
      display: flex;
      justify-content: space-between;
      font-size: 0.6rem;
    }
    .del-btn{
      font-size: 0.6rem;
      width: 10vw;
  }
  .dl-1-text,.dl-2-text,.gst-text,.phone-text{
    font-size: 10px;
  }

.gst-ph-head{
  margin-left: 35vw;
}
.phone-text{
  margin-left: 11px;
}

.Add-btn{
  height: 5vh;
  width: 10vw;
  outline: none;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: #20c997;
  color: #fff;
  margin-left: 45%;
  font-size: 13px;
  margin-bottom: 1%;
}

.pharma-subtotal{
  float: right;
  font-weight: bold;
  font-size: 10px;
}
.PatientId-Label{
  font-size: 10px;
}
.PatientId-input{
  width: 100px;
}
.search-btn{
  padding: 2px;
  font-size: 10px;
  outline: none;
  border-radius: 3px;
  border: none;
  
  background-color: #20c997;
  color: #fff;
}

.pharma-sign{
  /* font-weight:small; */
  font-size: 15px;
  margin: 1% 2%;
}
.selectors{
  width: 15vw;
  height: 3vh;
  font-size: 10px;
}
.invoiceNumber{
  margin-left: 15vw;
  font-size: 10px;
}

}

@media (max-width: 768px) {
  .invoiceNumber{
    margin-left: 22vw;
  }
  .gst-ph-head{
    margin-left: 38vw;
  }
  .phone-text{
    margin-left: 10px;
  }
  .pharma-bill-submit-btn-del-btn{
    border: none;
    color: white;
    background-color:#20c997 ;
    height: 5vh;
    width: 15vw;
    border-radius: 1vh;
    margin-left: 3vw;
  }
}