/* Add your own styling here */


  
  .container {
    max-width: 800px;
    margin: 50px auto;
  }
  
 .form-formsa {
    margin-bottom: 20px;
  }
  
 .form-formsa label {
    display: block;
    margin-bottom: 10px;
  }
  
 .form-formsa input {
    width: 20%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
 .form-formsa button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
 .form-formsa button:hover {
    background-color: #45a049;
  }
  
  .table-formsa {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 25%;
  }
  
 .table-formsa th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
.table-formsa  th {
    background-color: #4caf50;
    color: white;
  }
  
.table-formsa  td {
    background-color: #f9f9f9;
  }
  
  .table-formsa button.edit,.table-formsa button.save {
    background-color: #2196f3;
    color: white;
    padding: 6px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
  }
  
  .table-formsa button.save {
    background-color: #4caf50;
  }
  
  .table-formsa button.edit:hover,.table-formsa button.save:hover {
    background-color: #0b7dda;
  }