@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.error-container {
  text-align: center;
  font-size: 106px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 70px 15px;
}
.error-container > span {
  display: inline-block;
  position: relative;
}
.error-container > span.four {
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background:
    linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
    linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
    linear-gradient(to right, #d89ca4, #e27b7e);
}
.error-container > span.four:before,
.error-container > span.four:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
}
.error-container > span.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background:
    linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%),
    linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%),
    linear-gradient(to top, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}
.error-container > span.four:after {
  width: 137px;
  height: 43px;
  transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: linear-gradient(to right, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container > span.zero {
  vertical-align: text-top;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%,  transparent 51%, transparent 100%),
    linear-gradient(to top right, #99749D, #99749D, #B895AB, #CC9AA6, #D7969E, #ED8687, #ED8687);
  overflow: hidden;
  animation: bgshadow 5s infinite;
}
.error-container > span.zero:before {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background:
    linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%),
    linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
}
.error-container > span.zero:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
    
@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
  }
  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
  }
}

/* demo stuff */
* {
  .left-1{
  display: flex;
  padding: 2px 10px;
  justify-content: space-around;
}
/* .navbar-doctor1 .nav-items{
  padding: 0 0.4rem;
} */
 
/* .nav-items {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
} */
.icon-profile-rounded-icon{
  background-color: #f0f0f0;
  color: #333;
  border-radius: 50%; /* Adjust the value as needed for the desired border radius */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  font-size: 25px !important;
  cursor: pointer;
}


/* Navbar styling */
/* .navbar-doctor1 {
  width: 100%;
  margin-top: -11px;
  display: flex;
  background-color: #9b8bf4;
  top: 0;
  position: relative;
  z-index: 99;
  padding-left: 1rem;
  justify-content: space-between;
  padding-top: 5px;
 
}
 */

.profile-dropdown-logout {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #20C997;
  border: 1px solid white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 210px;
  padding: 10px;
  z-index: 1000;
  color: black;
  font-family: "Inria Serif";
}
.navbarss{
  position: sticky;
  top: 0;
}
.add-pbill-icon{
  cursor: pointer;
  font-size: 30px;
  color:#ffffff;
}

/* Profile link style */
.profile-link {
  display: block;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

/* Profile link hover style */
.profile-link:hover {
  background-color: #333;
  color: white;
}

/* Show profile dropdown when active */
.profile-dropdown-logout.active {
  display: block;
}

/* Style for individual information lines */
.user-id {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Style for individual information lines (bottom margin) */
.user-id {
  margin-bottom: 8px;
}

/* Style for the dropdown container */
.nav-items .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1000;
  margin-top: 5px; /* Adjust as needed */
 
}

/* Style for the dropdown options */
.nav-items .dropdown-content a {
  color: black;
  padding: 5px ;
  text-decoration: none;
  display: block;
  max-width: fit-content;
  
}
.nav-items h6{
  font-size: larger;
}

/* Change color when hovering over dropdown options */
.nav-s .dropdown-content a:hover {
  color: #9b8bf4;
}
.nav-items .billrepote{
  color: black;
}

/* Display dropdown content on hover */
.nav-items:hover .dropdown-content {
  display: block;
}

.linkss{
  font-size: 2rem;
}


@media screen and (max-width: 768px) {
  .profile-icon-container{
    margin-left: -20px;
  }
  .right-doc {
    display: flex;
    align-items: left;
  }
  
  .linkedin{
    margin-left: 10px;
  }
  .linkss{
    font-size: 1.5rem;
    margin-left: 60px;
    margin-top: -10px;
  }
  .profile-link {
    display: block;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
  }
  
  .left-1 {
    width: 85%;
    display: flex;
  }
  .navbar-doctor1 {
    width: 100%;
    margin-top: -11px;
    display: flex;
    background-color: #9b8bf4;
    top: 0;
    position: relative;
    z-index: 99;
    padding-left: 1rem;
    padding-top: 5px;
  }

  .navbar-doctor1 .nav-items{
    padding: 0 0.9rem;
  }
  .dropdown{
    margin-left: -5vw;
  }
  .nav-items h6{
    font-size: 17px;
    margin-left: -17px;
  }
.profiles{
  margin-left: -40px;
}

.profile-icon-container{
  margin-top: 15px;
}
.icon-profile-rounded-icon{
  background-color: #f0f0f0;
  color: #333;
  border-radius: 50%; /* Adjust the value as needed for the desired border radius */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  font-size: 20px !important;
  cursor: pointer;
  margin-right: 20px;
}
.drop-icon{
  margin-left: -19px;
}
}

@media screen and (max-width: 429px) {
  .linkss{
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: -10px;
  }
  .left-1 {
    width: 80%;
    display: flex;
    margin-left: 20px;

  }
  .navbar-doctor1 {
    width: 100%;
    margin-top: -11px;
    display: flex;
    background-color: #9b8bf4;
    top: 0;
    position: relative;
    z-index: 99;
    padding-left: 1rem;
    padding-top: 5px;
  }

  .navbar-doctor1 {
    font-size: 0.6rem; /* Adjust as needed */
  }
  .navbar-doctor1 .nav-items{
    padding: 0 0.4rem;
  }
  .dropdown{
    margin-left: -5vw;
  }
  .nav-items h6{
    font-size: 10px;
    margin-left: -15px;
  }
.profiles{
  margin-left: -40px;
}
.icon-profile-rounded-icon{
  background-color: #f0f0f0;
  color: #333;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  width: 25px; 
  height: 25px;
  font-size: 14px !important;
  cursor: pointer;
  margin-right: 10px;
}
.profile-icon-container{
  margin-top: 15px;
  margin-left: -10px;
}
}
margin-top: 0.2%;
  color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pnbody {
  /* background-color: #FDFAF5; */
  margin-bottom: 50px;
}
/* html, button, input, select, textarea {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #bbb;
} */
.h1 {
  text-align: center;
  margin: 30px 15px;
}
.zoom-area { 
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  text-align: center;
}
.more-link {
  text-transform: uppercase;
  font-size: 13px;
    background-color: #de7e85;
    padding: 10px 15px;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}